<img
  src="assets/profile_photo_resized.jpg"
  alt="profile"
  class="profile_photo"
/>
<h1 class="title">Hey there! I'm Julio Macias Caldera.</h1>
<section class="social_section">
  <a href="assets/julio_macias_cv.pdf" download class="links"
    ><span class="material-icons icons"> description </span> My CV</a
  >
  <a href="https://github.com/juliomc23" target="_blank" class="links"
    ><img
      src="assets/icons/github_icon.png"
      alt="github"
      class="icons"
    />GitHub</a
  >
  <a
    href="https://www.linkedin.com/in/juliomaciascaldera"
    target="_blank"
    class="links"
    ><img
      src="assets/icons/linkedin_icon.png"
      alt="linkedin"
      class="icons"
    />LinkedIn</a
  >
</section>
<section class="description">
  <p>
    You've just landed on the online space of a <b>Full Stack Developer</b> and
    a die-hard video game fan.
  </p>
  <p>
    As a developer, I'm all about embracing the thrill of new challenges,
    constantly learning, and pushing the boundaries of what's possible with
    tech. I aim to build stuff that not only works great but also makes a
    difference. It's all about crafting those cool apps that make you go, "Wow!"
  </p>
  <p>
    When I'm not coding, you can bet I'm gaming—be it battling it out with
    friends or getting lost in a solo quest. Games fuel my creativity, keep my
    tech skills sharp, and honestly, they're just a blast.
  </p>
  <p>
    So, welcome to my corner of the internet, where creativity meets code, and
    every project is a new challenge.
    <a routerLink="/contact" class="contact__link"
      >Let's create awesome things together.</a
    >
  </p>
</section>
