:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
}

.profile_photo {
  width: 12rem;
  border-radius: 0.3rem;
}

.title {
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.35rem;
  margin: 0rem 1rem;

  b {
    color: var(--quaternary);
    font-size: 1.35rem;
  }
}

.contact__link {
  color: var(--quaternary);
  font-size: 1.55rem;
  cursor: pointer;
}
.social_section {
  display: flex;
  gap: 2rem;
  background-color: var(--tertiary);
  padding: 1rem 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  font-size: 1.35rem;
  color: white;
  text-decoration: none;
}

.icons {
  width: 3rem;
  font-size: 3rem;
  color: black;
}

@media screen and (max-width: 413px) {
  .social_section {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 687px) {
  .profile_photo {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 688px) {
  :host {
    height: 100%;
    justify-content: center;
    gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .cv__link {
    width: 20rem;
  }
}
